.about {
    background-color: var(--white);
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.about-content {
    width: 1450px;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.about-left {
    display: flex;
    flex-direction: column;
}

.about-social ul {
    display: flex;
    gap: 10px;
    padding: 0;
    margin: 10px 0 0 0;
    align-items: center;
}

.about-social li {
    list-style: none;
}

.about-social img {
    width: 20px;
}

#mail {
    width: 24px;
}

.about-text p {
    max-inline-size: 600px;
    margin-top: 50px;
}

.about-image {
    background-image: url(../img/professional-image.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 385px;
    height: 513px;
    box-shadow: 25px 35px var(--beige);
}

@media screen and (max-width: 1000px) {
    .about {
        height: 140vh;
    }

    .about-content {
        flex-direction: column;
        justify-content: center;
        width: 70%;
    }

    .about-left {
        align-items: center;
    }

    .about-image {
        scale: 0.75;
    }
}