.navbar {
    background-color: var(--black);
    position: fixed;
    width: 20vw;
    height: 100vh;
    z-index: 2;
    left: 80vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transform: translateX(100%);
    transition: var(--navbar-transition);
}

.navbar.active {
    transform: translateX(0);
}

.navbar-content {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: space-between;
    width: 80%;
    height: 70%;
}

.navbar-elements ul {
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding: 0;
}

.navbar-elements a {
    font-family: "Red Hat Display", sans-serif;
    color: var(--white);
    text-decoration: none;
    transition: var(--transition);

    &:hover {
        color: var(--beige);
    }
}

.navbar-social {
    margin-top: 550px;
}

.navbar-social ul {
    display: flex;
    gap: 10px;
    padding: 0;
    margin: 10px 0 0 0;
    align-items: center;
}

.navbar-social li {
    list-style: none;
}

.navbar-social img {
    width: 20px;
    filter: invert(100%);
}

@media screen and (max-width: 1000px) {
    .navbar {
        width: 100vw;
        left: 0;
    }
}